[submodule "revelation"]
	path = revelation
	url = https://github.com/guotsuan/awesome-revelation.git
[submodule "sharedtags"]
	path = sharedtags
	url = https://github.com/Drauthius/awesome-sharedtags.git
[submodule "lain"]
	path = lain
	url = https://github.com/copycat-killer/lain.git
[submodule "cheeky"]
	path = cheeky
	url = https://github.com/svexican/cheeky.git
[submodule "vicious"]
	path = vicious
	url = https://github.com/Mic92/vicious.git
[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "thrizen"]
	path = thrizen
	url = https://github.com/ciiqr/thrizen.git
