@theme "rounded-blue-light.rasi"

configuration {
	modi: "combi,calc,filebrowser";
	show-icons: true;
	// combi-modi: "window,drun";
	combi-modi: "drun";
	// combi-modi: "window,drun,vimwiki:~/.config/awesome/scripts/rofi-vimwiki";
	matching: "fuzzy";
    drun-show-actions: true;
}

configuration {
    /* dpi: 200; */
}

window {
    /* width: 1180; */
    /* y-offset: 100px; */
}
