@theme "rounded-blue-light.rasi"

configuration {
	modi: "combi,calc";
	show-icons: true;
	combi-modi: "window,drun";
	matching: "fuzzy";
}

configuration {
    /* dpi: 200; */
}

window {
    /* width: 1180; */
}
